body {
  font-family: "Bitstream Vera Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.main {
  width: auto;
  margin: 0px 32px 0px 32px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  border: 0px dashed #ddd;
  background-color: #fff;
  overflow: visible;
  border-collapse: collapse;
  border-spacing: 0px;
}

.mainbody1 { 
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0px;
}

.mainbody1_inner { 
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0px;
}

.maintitle1 {
  color: #333;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 12px 16px 8px 16px;
  text-align: left;
  background-color: #eee;
  border-right: 1px solid #ddd;
  font-weight: bold;
  font-size: 81%;
}

.widget1set { 
  border-collapse: collapse;
  border-spacing: 0px;
}

.widget1body { 
}

.widget1title {
  font-size: 63%;
  text-align: left;
  width: auto; 
  padding-top: 2px; 
  padding-right: 8px;
  vertical-align: top;
}

.widget2set { 
  border-collapse: collapse;
  border-spacing: 0px;
}

.widget2 { 
}

.widget2body { 
}

.widget2title {
  font-size: 69%;
  font-weight: bold;
  text-align: left;
  padding-top: 2px; 
  padding-right: 8px;
  vertical-align: top;
}

.widget2description {  
  color: #bbb;
  font-size: 63%;
}

.detailedbox {
  width: 100%;
  margin: 0px 0px 0px 16px;
  padding: 8px 0px 8px 0px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  clear: none;
}

.detailedbox_title { 
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 67%;
}

.detailedbox_description { 
  margin: 0px 0px 8px 0px;
  padding: 0px 0px 8px 0px;
  font-size: 63%;
  line-height: 1.6;
}

.header {
  width: 100%;
  margin: 0px 0px 0px 32px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  font-size: 100%;
  font-weight: bold;
}

.footer {
  width: 100%;
  margin: 0px 32px 0px 32px;
  padding: 8px 16px 8px 16px;
  text-align: left;
  border-top: 1px solid #ddd;
  background-color: #fff;
  font-size: 100%;
  font-weight: bold;
}

.pathbar {
  width: 100%;
  height: 24px;
  margin: 0px 0px 0px 32px;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0px;
}

.pathbar_item {
  color: #aaa;
  width: auto;
  margin: 0px 0px 0px 2px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  vertical-align: middle;
  background-color: #fff;
  font-size: 81%;
  font-weight: bold;
}

.sidebar1 {
  text-align: left;
  vertical-align: top;
  width: auto;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px dashed #ddd;
  background-color: #fff;
}

.textmodifier1 { 
  color: #ddd;
}

.sidebarbox { 
  width: 130;
  margin: 0px 0px 0px 14px;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.sidebarbox_title { 
  margin: 0px 0px 0px 0px;
  padding: 6px 0px 6px 0px;
  font-weight: bold;
  font-size: 69%;
}

.listing { 
  list-style-type: none;
  margin: 0px 0px 8px 12px;
  padding: 0px 0px 0px 0px;
}

.listing_item { 
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 2px 0px;
  color: #bbb;
  display: block;
  line-height: 1.33;
  font-size: 63%;
}

.listing_selecteditem { 
  list-style-type: disc;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 2px 0px;
  color: #000;
  line-height: 1.33;
  font-size: 63%;
}

.status { 
  font-weight: bold;
  color: #696;
}

.error { 
  font-weight: bold;
  color: #c00;
}

.table { 
  width: 98%;
  border-spacing: 2px;
  margin: 2px 2px 2px 2px;
}

.columnheader { 
  font-size: 81%;
  background-color: #eee;
}

.column { 
  font-size: 63%;
  line-height: 1.33;
  background-color: #fff;
}

.tabbedbox {  
  margin-left: 12px;
}

.tabbedboxset {  
  border-collapse: collapse;
  border-spacing: 0px;
}

.tabbedboxtab { 
  font-size: 81%;
  font-weight: bold;
  background-color: #eee;
}

.tabbedboxselectedtab { 
  font-size: 81%;
  font-weight: bold;
  background-color: #ccc;
}

.thumbnail {
  border: 3px solid #ddd;
}

.thumbnail_title { 
  margin: 0px 0px 0px 0px;
  padding: 6px 0px 6px 0px;
  font-weight: bold;
  font-size: 69%;
}

/* Form Widgets */
a {
  color: #006699;
  font-weight: 800;
}

a:link { 
  color: #58526E;
}

a:visited { 
  color: #58526E;
}

a:hover { 
  color: #F60;
}

input {
  margin: 0px 0px 0px 0px;
}

select {
  margin: 0px 0px 0px 0px;
}

textarea {
  margin: 0px 0px 0px 0px;
}

button {
  margin: 0px 0px 0px 0px;
}

