/**
 * Gx Styles 
 * 
 * @requires YUI reset, font, grids, and base CSS
 * 
 * Sheet organization: 
 * 1) HTML, body
 * 2) Text (fonts, headings, links)
 * 3) Layout containers
 * 4) Generic blocks
 * 5) Primary content blocks
 * 6) Navigation and menus
 * 7) Tables
 * 8) Forms, additional form CSS stored in css/forms.css (temporarily)
 * 9) General browser hacks
 */
 
@import url('http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css');
@import url('http://yui.yahooapis.com/2.6.0/build/base/base-min.css');
@import url('forms.css');

/**
 ** **************************************************
 * 1) HTML, body
 ** **************************************************
 */

body, html {
  background-color: #ccc;
}

/**
 ** **************************************************
 * 2) Text
 ** **************************************************
 */

/**
 ** **************************************************
 * 3) Layout containers
 ** **************************************************
 */

/* ~~~~~ View Container ~~~~~~ */

.gAlbumView, 
.gItemView {
  background-color: #fff;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 1px;
}


/* ~~~~~~~~~ Content ~~~~~~~~~~ */

#gContent {
  border-right: 1px solid #ccc;
  padding: 20px;
}

/* ~~~~~~~~~ Sidebar ~~~~~~~~~~ */

#gSidebar {
  width: 16.4615em;
  padding: 0 1em 0 1em;
}

/* ~~~~~~~ Header/Footer ~~~~~~ */

#gHeader {
  padding: 10px;
}
#gHeader #gLogo {
  float: left;
  margin: 10px;
}

#gFooter {
  border-top: 1px solid #ccc;
  padding: 6px;
}

/**
 ** **************************************************
 * 4) Generic blocks
 ** **************************************************
 */


/**
 ** **************************************************
 * 5) Content blocks - inherits from Generic blocks
 ** **************************************************
 */

#photo-grid {
  width: 100%;
}
#photo-grid td {
  text-align: center;
  border: 0;
}

img.photo {
  display: block;
  width: 200px;
  height: 140px;
  border: 1px solid silver;
  margin-left: auto;
  margin-right: auto;
  background-color: #e7e7e7;
}


/* ~~~~ individual photo ~~~~~~~ */

.gPhotoView img {
  width: 400px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

/* ~~~~~~~~~ comments ~~~~~~~~~~ */

#gComments {
  border: 1px solid #ccc;
  padding: 10px;
}

#gComments h2 {
  margin-top: 0;
}

#gComments ul {
  margin: 0;
}

#gComments ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

#gComments ul li p {
  background-color: #E8E8E8;
  margin-bottom: 2px;
  padding: 4px;
}

#gComments ul li p .understate {
  color: silver;
}

#gComments ul li div {
  padding: 8px;
}

/**
 ** **************************************************
 * 6) Navigation and menus
 ** **************************************************
 */

#gSiteMenu {
  margin: 0;
  padding: 0;
  height: 32px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  clear: both;
}

#gSiteMenu li {
  list-style-type: none;
  float: left;
  display: block;
  width: 20%;
}

#gSiteMenu li a {
  height: 20px;
  padding: 5px;
  display: block;
  text-align: center;
  border: 1px outset #000;
  background-color: #e7e7e7;
}

#gSiteMenu li a:hover, #gSiteMenu li a:active, #gSiteMenu li a.active {
  border: 1px inset #000;
  background-color: silver;
}

#gLoginMenu {
  float: right;
}

.gBreadcrumbs {
  border-bottom: 1px solid #ccc;
}
.gBreadcrumbs {
  margin: 0;
  padding: 0;
  height: 26px;
  list-style-type: none;
}
.gBreadcrumbs li {
  list-style-type: none;
  background: transparent url(images/icon_breadcrumb_separator.gif) no-repeat scroll left center;
  padding: 0 0 0 10px;
  float: left;
}
.gBreadcrumbs li.root {
  background: transparent;
  padding: 0;
}
.gBreadcrumbs li a,
.gBreadcrumbs li span {
  padding: 5px;
  display: block;
}
.gBreadcrumbs li.active span {
  font-weight: bold;
}

#gPagination {
	clear: both;
	padding: 10px 0px 0px 0px;
	text-align: center;
}
#gPagination a,
#gPagination span {
	border: 1px solid lightgray;
	padding: 5px;
	background-repeat: no-repeat;
}
#gPagination a:hover {
	background-color: #F3F3F3;
}
#gPagination .first {
	background-image: url('images/first.png');
	background-position: left;
	padding-left: 20px;
}
#gPagination .first_inactive {
	background-image: url('images/first_inactive.png');
	background-position: left;
	padding-left: 20px;
}
#gPagination .previous {
	background-image: url('images/previous.png');
	background-position: left;
	padding-left: 17px;
}
#gPagination .previous_inactive {
	background-image: url('images/previous_inactive.png');
	background-position: left;
	padding-left: 17px;
}
#gPagination .next {
	background-image: url('images/next.png');
	background-position: right;
	padding-right: 17px;
}
#gPagination .next_inactive {
	background-image: url('images/next_inactive.png');
	background-position: right;
	padding-right: 17px;
}
#gPagination .last {
	background-image: url('images/last.png');
	background-position: right;
	padding-right: 20px;
}
#gPagination .last_inactive {
	background-image: url('images/last_inactive.png');
	background-position: right;
	padding-right: 20px;
}

/* ~~~~~~~~~ tag cloud ~~~~~~~~~~ */

.gTagCloud ul {
	text-align: justify;
	margin: 0px;
	padding: 0px;
}
.gTagCloud ul li {
	text-align: justify;
	display: inline;
}
.gTagCloud ul li a {
	text-decoration: none;
}
.gTagCloud ul li a.size0 {
	font-size: 100%;
	font-weight: 100;
	color: #99CCFF;
}
.gTagCloud ul li a.size1 {
	font-size: 110%;
	font-weight: 300;
	color: #6699FF;
}
.gTagCloud ul li a.size2 {
	font-size: 120%;
	font-weight: 500;
	color: #6699CC;
}
.gTagCloud ul li a.size3 {
	font-size: 130%;
	font-weight: 700;
	color: #336699;
}
.gTagCloud ul li a.size4 {
	font-size: 140%;
	font-weight: 900;
	color: #0E2B52;
}

/* ~~~~~~~~~ album tree ~~~~~~~~~~ */

#gAlbumTree {
	border: 1px solid blue;
	margin: 20px 0 20px 0;
}

/**
 ** **************************************************
 * 7) Tables
 ** **************************************************
 */


/**
 ** **************************************************
 * 8) Forms
 ** **************************************************
 */

#gSearch {

}

#gCommentAdd { 
  width: 500px;
}

/* ----------- upload ----------------- */

#gUploadForm .gBreadcrumbs li input, #gUploadForm .gBreadcrumbs li select {
  width: 140px;
  margin-left: 5px;
}

#gUploadForm-queue {
  width: 500px;
}

#gUploadForm-queue td, #gUploadForm-queue th {
  text-align: left;
  border-color: #e7e7e7;
}

#gUploadForm-queue caption {
  display: none;
}

#gUploadForm-queue thead th {
  text-align: center;
  border-bottom: 2px solid #000;
}

#gUploadForm-queue thead th, #gUploadForm-queue thead td {
  background-color: #e7e7e7;
}

#gUploadForm-queue tfoot td {
  border-top: 2px solid #000;
}

#gUploadForm-queue .filesize {
  width: 60px;
}

#gUploadForm-queue td.filesize {
  text-align: right;
}

#gUploadForm-queue tfoot td.filesize {
  color: #ccc;
}

#gUploadForm-queue .action {
  width: 40px;
}

#gUploadForm-button {
  width: 130px;
  margin-left: 370px;
}

/**
 ** **************************************************
 * 9) Browser hacks
 ** **************************************************
 */

/* Keep containers holding only floated elements from collapsing in Safari */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}